.ant-row {
  justify-content: center;
}

.countdown_timer,
.stopwatch,
.alarm_clock {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.digital_clock .ant-card-body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
