@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.mainLayout {
  font-family: "Poppins";
}
.ant-row {
  justify-content: center;
}
.countdown_timer,
.stopwatch,
.alarm_clock {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.stopwatch .ant-card-head-title,
.countdown_timer .ant-card-head-title,
.alarm_clock .ant-card-head-title,
.countdown_timer .ant-input {
  text-align: center;
}
